.row{
    border: black 1px;
    height:8px;

}
.cell{
    height: 8px;
    width: 8px;
    border: solid black 1px;
    display: inline-block ;

}

button{
    width:45px;
    height:20px;
    margin-top: 20px;
    background-size: cover;
    background-position: center;
}